.button {
  border-style: solid;
  border-width: 0.1rem;
  color: var(--primary-color);
  border-color: var(--primary-color);
  padding: 0.5rem;
}

.button:hover {
  cursor: pointer;
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}
