.button {
  border-style: solid;
  border-width: 0.1rem;
  color: #a7f3d0;
  border-color: #a7f3d0;
  padding: 0.5rem;
}

.button:hover {
  cursor: pointer;
  color: #a5b4fc;
  border-color: #a5b4fc;
}
