.caret {
  position: absolute;
  width: 0.15rem;
  height: 1.1rem;
  border-radius: 0.05rem;
  background-color: var(--strong-color);
  transition: left 0.2s;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
