.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1rem;
  width: 70vw;
  height: 100vh;
}
.container:focus {
  outline: none;
}

.word {
  padding: 0 1rem;
}
