.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1rem;
  width: 70vw;
  height: 100vh;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-bottom: 3rem;
}
.test:focus {
  outline: none;
}

.word {
  padding: 0 1rem;
}
