.letter {
  font-size: 0.9rem;
  padding-left: 0.05rem;
}

.waiting {
  color: var(--secondary-color);
}

.active {
  color: var(--primary-color);
}

.correct {
  color: var(--tertiary-color);
}

.incorrect {
  color: var(--invalid-color);
}
