.modeSettings {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  color: var(--secondary-color);
}

.modeSettings ul {
  margin-left: auto;
}

.modeSettings ul li {
  padding: 0.2rem;
}

.modeSettings button:hover {
  cursor: pointer;
  color: var(--tertiary-color);
}

.active {
  color: var(--primary-color);
}
