.slate {
  --background-color: #f8fafc;
  --active-color: #0f172a;
  --passive-color: #64748b;
  --positive-color: #4338ca;
  --negative-color: #f97316;
  --strong-color: #ef4444;
}

.eva {
  --background-color: #322346;
  --active-color: #fafafa;
  --passive-color: #b18bcf;
  --positive-color: #adf182;
  --negative-color: #ff876c;
  --strong-color: #c7fba5;
}

.mainBody {
  background-color: var(--background-color);
  color: var(--active-color);
}